@import url("https://fonts.googleapis.com/css?family=Roboto:300");


.animate-showup {
  animation: showup 7s infinite;
}

.animate-reveal {
  animation: reveal 7s infinite;
}

.animate-slidein {
  animation: slidein 7s infinite;
}

h1:hover, p:hover {
  /* ... other styles */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}

/* In your animation.css file or within a <style> tag */

/* ... (emoji, wrapper, body styles) */

/* Transitions for h1 and p */
h1, p {
  transition: all 0.5s ease-in-out; /* 0.5s is equivalent to 500ms */
}

h1:hover, p:hover {
  transform: scale(1.05);
  color: #80d0c7;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added text shadow */
}

/* ... (other styles) */